@use "src/styles/common";

.work-location {
  display: flex;
  flex-direction: row;

  margin: common.$gutter 0em;

  & > .work-location__name {
    font-size: 0.9rem;
  }

  & > .work-location__separator {
    flex-grow: 1;
    @media print, (min-width: common.$page_width) {
      border-bottom: solid 1px;
      height: 0.6rem;
      margin: 0 0.5rem 0 0.5rem;
    }
  }

  & > .work-location__range {
    font-style: italic;

    @media print, (min-width: common.$page_width) {
      height: 0px;
      margin-top: -0.4rem;

      font-size: 0.8rem;
    }
  }
}
