@use "src/styles/common";

.work-location {
  display: flex;

  & > .work-location__name {
    font-size: 0.8rem;
  }

  & > .work-location__separator {
    flex-grow: 1;
    @media print, (min-width: common.$page_width) {
      border-bottom-style: dotted;
      height: 0.3rem;
      margin: 0 0.5rem 0 0.5rem;
    }
  }

  & > .work-location__range {
    @media print, (min-width: common.$page_width) {
      height: 0px;
      margin-top: -0.5rem;
    }
  }
}
