@use "src/common";

.resume-section {
  margin: common.$gutter;
  padding: common.$gutter;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.enter-from-left {
    @include common.slide-in-from-left;
  }
  &.enter-from-right {
    @include common.slide-in-from-right;
  }
  &.enter-from-top {
    @include common.slide-in-from-top;
  }
  &.enter-from-bottom {
    @include common.slide-in-from-bottom;
  }
}
