---
import type { HTMLAttributes } from "astro/types";
import { getEntry, render } from "astro:content";

import classNames from "classnames";

import styles from "./ResumeSection.module.scss";

const collection_name = "resume_sections";

type Props = {
  resume_section_id: string;
  className?: string;
  enterFrom?: "left" | "right" | "top" | "bottom";
  style?: HTMLAttributes<"section">["style"];
};
const { resume_section_id, className, style, enterFrom } = Astro.props;

const resume_section = await getEntry(collection_name, resume_section_id);

if (resume_section === undefined) {
  throw new Error(
    `No content with ID "${resume_section_id}" in collection "${collection_name}"`
  );
}

const { Content } = await render(resume_section);
---

<section
  class:list={classNames(
    className,
    styles["resume-section"],
    enterFrom && styles[`enter-from-${enterFrom}`]
  )}
  style={style}
>
  <Content />
</section>
