---
import classNames from "classnames";
import _ from "lodash";

import { marked } from "marked";

import styles from "./ResumeSection.module.scss";

interface Props {
  section: { header?: string; content: string };
  className?: string;
  style?: {};
  headerLevel?: 1 | 2 | 3 | 4 | 5 | 6;
  enterFrom?: "left" | "right" | "top" | "bottom";
}
const { section, className, style, headerLevel = 2, enterFrom } = Astro.props;

const { header, content } = section;

const HeadingElement = `h${_.clamp(headerLevel, 1, 6)}`;
---

<section
  class={classNames(
    className,
    styles["resume-section"],
    enterFrom && styles[`enter-from-${enterFrom}`]
  )}
  style={style}
>
  {header && <HeadingElement>{header}</HeadingElement>}
  <div set:html={marked.parse(content)} />
</section>
