@use "src/common";

$icon-dimension: 0.35in;
$border: 0.02in;

.icon-tray {
  @media print {
    display: none;
  }

  position: fixed;
  width: $icon-dimension * 1.04;

  @media (min-width: common.$page_width+($icon-dimension*0.45)) {
    background-color: white;
    border: $border solid black;
    outline: common.$gutter * 2 solid white;
  }
  @media (min-width: common.$page_width+($icon-dimension*2)+$icon-dimension) {
    left: 50%;
    margin-left: common.$page_width/2 + ($icon-dimension * 0.19);
    top: $icon-dimension;
  }
  @media (max-width: common.$page_width+($icon-dimension*2)+$icon-dimension) {
    right: common.$gutter + $border;
    top: common.$gutter + $border;
  }

  & > * {
    width: $icon-dimension;
    height: $icon-dimension;

    & > svg {
      width: $icon-dimension;
      height: $icon-dimension;
      fill: rgba(0, 0, 0, 0.6);
    }
    &:hover > svg,
    &:focus > svg {
      fill: rgba(0, 0, 0, 1);
    }

    & > img {
      opacity: 0.6;
    }
    &:hover > img,
    &:focus > img {
      opacity: 1;
    }
  }
}
