@use "src/styles/common";

.paper-resume {
  // Hide unless printing or screen width > paper width
  display: none;
  @media print, (min-width: common.$page_width) {
    display: block;
  }

  width: common.$page_width;
}

.page {
  display: flex;
  justify-self: center;

  height: common.$page_height;

  margin-top: 2em;
  &:last-of-type {
    margin-bottom: 2em;
  }
  @media print {
    margin: 0em;
  }

  background-color: common.$page_color;
}

.fcol {
  display: flex;
  flex-direction: column;

  &.fcol__1-4th {
    flex-basis: 25%;
  }
  &.fcol__1-half {
    flex-basis: 50%;
  }
  &.fcol__3-4th {
    flex-basis: 75%;
  }
  &.fcol__1-3rd {
    flex-basis: 33%;
  }
  &.fcol__2-3rd {
    flex-basis: 66%;
  }
}

.frow {
  display: flex;
  flex-direction: row;
}
