@use "src/styles/common";

.paper-resume {
  // Hide unless printing or screen width > paper width
  display: none;
  @media print, (min-width: common.$page_width) {
    display: block;
  }

  width: common.$page_width;
}

$page-padding: 0.25in;

.page {
  display: flex;
  justify-self: center;

  padding: $page-padding;
  height: common.$page_height - ($page-padding * 2);

  margin-top: 2em;
  &:last-of-type {
    margin-bottom: 2em;
  }
  @media print {
    margin: 0em;
  }

  background-color: common.$page_color;

  @media not print {
    // specifically to keep the animations contained to the "paper", overflowing outside of that would be a content/styling error
    // but still let print overflow so the test_pdf_page_count.js script can detect when the output is overflowing (spills on to and prints > 1 page)
    overflow: hidden;
  }
}

.fcol {
  display: flex;
  flex-direction: column;

  &.fcol__1-4th {
    flex-basis: 25%;
  }
  &.fcol__1-half {
    flex-basis: 50%;
  }
  &.fcol__3-4th {
    flex-basis: 75%;
  }
  &.fcol__1-3rd {
    flex-basis: 33%;
  }
  &.fcol__2-3rd {
    flex-basis: 66%;
  }
}

.frow {
  display: flex;
  flex-direction: row;
}

.header {
  border-bottom: common.$border-style;
}
.header-brief {
  border-left: common.$border-style;
  & p {
    padding-left: common.$gutter;
  }
}
.sidebar__right {
  border-left: common.$border-style;
  padding: common.$gutter 0em common.$gutter common.$gutter * 0.5;
  margin-left: common.$gutter * 0.5;
}
.sidebar__left {
  border-right: common.$border-style;
  padding: common.$gutter common.$gutter * 0.5 common.$gutter 0em;
  margin-right: common.$gutter * 0.5;
}
