@use "src/styles/common";

.responsive-resume {
  padding: common.$gutter;

  background-color: common.$page_color;

  // Hide if printing or screen width < paper width
  @media print, (min-width: common.$page_width) {
    display: none;
  }
}

.no-h2 h2 {
  display: none;
}
