---
import classNames from "classnames";

import ResumeSection from "src/components/ResumeSection/ResumeSection.astro";

import responsive_styles from "./ResponsiveResume.module.scss";
import common_styles from "./resume-common.module.scss";
---

<div
  class:list={classNames(
    common_styles.resume,
    responsive_styles["responsive-resume"]
  )}
>
  <ResumeSection
    className={classNames(responsive_styles["primary-section"])}
    resume_section_id={"main_header"}
  />
  <ResumeSection enterFrom="left" resume_section_id="brief" />
  <ResumeSection
    className={classNames(common_styles["horizontal-list"])}
    enterFrom="right"
    resume_section_id="certs"
  />
  <ResumeSection
    className={classNames(common_styles["horizontal-list"])}
    enterFrom="left"
    resume_section_id="languages"
  />
  <ResumeSection
    className={classNames(common_styles["horizontal-list"])}
    enterFrom="right"
    resume_section_id="libraries"
  />
  <ResumeSection
    className={classNames(common_styles["horizontal-list"])}
    enterFrom="left"
    resume_section_id="tools"
  />
  <ResumeSection
    className={classNames(common_styles["horizontal-list"])}
    enterFrom="right"
    resume_section_id="platforms"
  />
  <ResumeSection
    className={classNames(common_styles["horizontal-list"])}
    enterFrom="left"
    resume_section_id="skills"
  />
  <ResumeSection enterFrom="right" resume_section_id="education" />
  <ResumeSection enterFrom="left" resume_section_id="resume" />
</div>
