@use "src/styles/common";

// lots of descendant selectors, would usually avoid but it's a very small page

.resume {
  font-family: "Cabin", sans-serif;

  font-size: 15px;

  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;

  background-color: common.$background_color;
  color: common.$text_color;

  & h1 {
    font-size: 2.8em;
    margin: 0px;
    font-weight: normal;

    & ~ h2 {
      font-weight: normal;
    }
  }
  & h2 {
    font-size: 1.6em;
  }
  & h3 {
    font-size: 1.3em;
  }
  & h4,
  & h5 {
    font-size: 1em;
  }
  & h2,
  & h3,
  & h4,
  & h5 {
    font-weight: bold;
    margin: common.$gutter 0em;
  }

  & p {
    margin: 0.5em 0em;
  }

  & ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;

    padding-left: common.$gutter * 4;
    margin: common.$gutter 0em;
  }
  & li {
    list-style: none;

    & > p {
      margin: 0em;
    }

    margin: common.$gutter 0em;
  }
  & li:before {
    float: left;
    width: 0em;
    height: 0em;
    scale: 0.7;
    transform: translate(-1.5em, 0.3em);
  }
  & :not(li) > ul > li:before {
    content: url("/svgs/arrow-full.svg");
  }
  & li > ul > li:before {
    content: url("/svgs/arrow-half.svg");
  }
  & li > ul > li > ul > li:before {
    content: url("/svgs/arrow-empty.svg");
  }
}

.horizontal-list {
  & ul {
    flex-direction: row;
    justify-content: space-between;

    padding-left: 0em;

    & > li {
      min-width: 43%;
    }
  }
}

.header-content {
  text-align: center;
}
