$page_width: 8.5in;
$page_height: 11in;

$gutter: 0.025in;
$border: 0.02in;

$background_color: white;
$text_color: black;


@media (min-width: $page_width) {
  @keyframes slide-in-from-left-frames {
    0% {
      margin-left: $page_width;
      margin-right: -$page_width;
    }
    100% {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
  @keyframes slide-in-from-right-frames {
    0% {
      margin-left: -$page_width;
      margin-right: $page_width;
    }
    100% {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
}
@media (max-width: $page_width) {
  @keyframes slide-in-from-left-frames {
    0% {
      margin-left: 100vw;
      margin-right: -100vw;
    }
    100% {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
  @keyframes slide-in-from-right-frames {
    0% {
      margin-left: -100vw;
      margin-right: 100vw;
    }
    100% {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
}
@mixin slide-in {
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  @media (max-width: $page_width) {
    animation-timing-function: linear;
    animation-duration: 0.8s;
  }

  @media screen and (prefers-reduced-motion: reduce){
    animation: none;
  }
  @media print {
    animation: none;
  }
}
@mixin slide-in-from-left {
  animation-name: slide-in-from-left-frames;
  @include slide-in;
}
@mixin slide-in-from-right {
  animation-name: slide-in-from-right-frames;
  @include slide-in;
}