$page_width: 8.5in;
$page_height: 11in;

$gutter: 0.025in;
$border: 0.02in;

$background_color: white;
$text_color: black;


@media (min-width: $page_width) {
  @keyframes slide-in-from-right-frames {
    0% {
      margin-left: $page_width;
      margin-right: -$page_width;
    }
    100% {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
  @keyframes slide-in-from-left-frames {
    0% {
      margin-left: -$page_width;
      margin-right: $page_width;
    }
    100% {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
  @keyframes slide-in-from-top-frames {
    0% {
      margin-top: -$page_height;
      margin-bottom: $page_height;
    }
    100% {
      margin-top: $gutter;
      margin-bottom: $gutter;
    }
  }
  @keyframes slide-in-from-bottom-frames {
    0% {
      margin-top: $page_height;
      margin-bottom: -$page_height;
    }
    100% {
      margin-top: $gutter;
      margin-bottom: $gutter;
    }
  }
}

@media (max-width: $page_width) {
  @keyframes slide-in-from-right-frames {
    0% {
      margin-left: 100%;
      margin-right: -100%;
    }
    100% {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
  @keyframes slide-in-from-left-frames {
    0% {
      margin-left: -100%;
      margin-right: 100%;
    }
    100% {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  @keyframes slide-in-from-top-frames {
    // noop
  }
  @keyframes slide-in-from-bottom-frames {
    // noop
  }
}

@mixin slide-in {
  animation-timing-function: ease-out;
  animation-duration: 1.25s;

  @media screen and (prefers-reduced-motion: reduce){
    animation: none;
  }
  @media print {
    animation: none;
  }
}

@mixin slide-in-from-right {
  animation-name: slide-in-from-right-frames;
  @include slide-in;
}
@mixin slide-in-from-left {
  animation-name: slide-in-from-left-frames;
  @include slide-in;
}
@mixin slide-in-from-top {
  animation-name: slide-in-from-top-frames;
  @include slide-in;
}
@mixin slide-in-from-bottom {
  animation-name: slide-in-from-bottom-frames;
  @include slide-in;
}