@import './common-variables';

$icon-dimension: 0.35in;

.download-pdf-link {
  @media print {
    display: none;
  }

  position: fixed;
  width: $icon-dimension;
  height: $icon-dimension;

  @media (min-width: $page_width+($icon-dimension*0.75)) {
    background-color: white;
    border: $border solid black;
    outline: $gutter*2 solid white;
  }
  @media (min-width: $page_width+($icon-dimension*2)) {
    left: 50%;
    margin-left: $page_width/2+($icon-dimension*0.19);
    top: $icon-dimension;
  }
  @media (max-width: $page_width+($icon-dimension*2)) {
    right: $gutter+$border;
    top: $gutter+$border;
  }

  & > svg {
    width: $icon-dimension;
    height: $icon-dimension;
    fill: rgba(0, 0, 0, 0.6);
  }
  &:hover > svg, &:focus > svg {
    fill: rgba(0, 0, 0, 1);
  }
}