@import './common-variables';

@keyframes news-spin-frames {
  0% {
    transform: rotate(60deg) scale(0.05);
    opacity: 0.05;
  }
  50% {
    transform: rotate(360deg*(2*0.9)) scale(0.8);
    opacity: 0.66;
  }
  100% {
    transform: rotate(360deg*2) scale(1);
    opacity: 1;
  }
}
@mixin news-spin {
  animation-name: news-spin-frames;
  animation-timing-function: linear;
  animation-duration: 1s;
  @media screen and (prefers-reduced-motion: reduce){
    animation: none;
  }
}

@keyframes slide-in-frames {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 97%;
    opacity: 1;
  }
}
@mixin slide-in {
  animation-name: slide-in-frames;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  @media screen and (prefers-reduced-motion: reduce){
    animation: none;
  }
}

.resume.paper-resume {
  // Hide unless printing or screen width > paper width
  display: none;
  @media print, (min-width: $page_width) {
    display: block;
  }

  & * {
    @media not print {
      @include slide-in;
    }
  }

  /* A4 paper dimensions */
  width: $page_width;
  height: $page_height;
  overflow: hidden;

  .fcol {
    display: flex;
    flex-direction: column;
    
    &.fcol__1-3rd {
      flex-basis: 33%;
    }
    &.fcol__1-half {
      flex-basis: 50%;
    }
    &.fcol__2-3rd {
      flex-basis: 66%;
    }
  }
  
  .frow {
    display: flex;
    flex-direction: row;
  }
  
  .two-column-list {
    & > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  
      & > li {
        flex: 0 0 47%;
      }
    }
  }
}

