@import './common-variables';

$gutter: 0.025in;
$border: 0.02in;

.resume {
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* A4 paper dimensions */
  width: $page_width;
  height: $page_height;

  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;

  padding: $gutter;

  background-color: white;

  & section {
    margin: $gutter;
    padding: $gutter;
    border: $border solid black; /* Consider having no borders? */
  }

  & h1 {
    font-size: 2.8em;

    &~h2 {
      font-size: 1.8em;
    }
  }
  & h1, & h2, & h3, & h3 {
    margin: 0px;
  }

  & p, & :not(li) > ul{
    margin: 0.5em 0em;
  }

  & ul, & li {
    padding-bottom: 0.215em;
  }
  & ul {
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
  }
  & li {
    list-style: none;

    & > p {
      margin: 0em;
    }
  }
  & li:before {
    float: left;
    width: 1em;
    height: 1em;
    transform: scale(0.2) translate(-2.1em, -1.2em);
  }
  & :not(li) > ul > li:before {
    content: url('./svgs/arrow-full.svg');
  }
  & li > ul > li:before{
    content: url('./svgs/arrow-half.svg');
  }
}

.fcol {
  display: flex;
  flex-direction: column;

  &.fcol__1-3rd {
    flex-basis: 33%;
  }
  &.fcol__1-half {
    flex-basis: 50%;
  }
  &.fcol__2-3rd {
    flex-basis: 66%;
  }
}

.frow {
  display: flex;
  flex-direction: row;
}

.two-column-list {
  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > li {
      flex: 0 0 47%;
    }
  }
}