$page_width: 8.5in;
$page_height: 11in;

$gutter: 0.025in;
$border: 0.02in;

.resume {
  /* A4 paper dimensions */
  width: $page_width;
  height: $page_height;

  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;

  padding: $gutter;

  background-color: white;

  & section {
    margin: $gutter;
    padding: $gutter;
    border: $border solid black;
  }

  & h1 {
    font-size: 3em;
  }
  & h1, & h2, & h3, & h3 {
    margin: 0px;
  }

  & p, & :not(li) > ul{
    margin: 0.5em 0em;
  }

  & ul {
    display: flex;
    flex-direction: column;
  }
  & li {
    list-style: none;

    & > p {
      margin: 0em;
    }
  }
  & li:before {
    margin-right: 2px;
    line-height: 1em;
    font-size: 1.2em;
    float: left;
  }
  & :not(li) > ul > li:before {
    content: "⮞ ";
  }
  & li > ul > li:before{
    content: "⮚";
  }
}

.fcol {
  display: flex;
  flex-direction: column;

  &.fcol__1-3rd {
    flex-basis: 33%;
  }
  &.fcol__1-half {
    flex-basis: 50%;
  }
  &.fcol__2-3rd {
    flex-basis: 66%;
  }
}

.frow {
  display: flex;
  flex-direction: row;
}

.two-column-list {
  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > li {
      flex: 0 0 47%;
    }
  }
}