$page_width: 8.5in;
$page_height: 11in;

$gutter: 0.025in;
$border: 0.02in;

.resume {
  /* A4 paper dimensions */
  width: $page_width;
  height: $page_height;

  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;

  padding: $gutter;

  background-color: white;

  & section {
    margin: $gutter;
    padding: $gutter;
    border: $border solid black;
  }

  & h1 {
    font-size: 2.5em;
  }
  & h1, & h2, & h3, & h3 {
    margin: 0px;
  }

  & p, & :not(li) > ul{
    margin: 0.5em 0em;
  }

  & li {
    list-style: none;
  }

  & :not(li) > ul > li:before {
    content: "⮞ ";
    float: left;
  }

  & li > ul {
    display: flex;
    flex-direction: column;

    & > li:before{
      content: "⮚";
      float: left;
    }
  }
}

.fcol {
  display: flex;
  flex-direction: column;

  &.fcol__1-3rd {
    flex-basis: 33%;
  }
  &.fcol__1-half {
    flex-basis: 50%;
  }
  &.fcol__2-3rd {
    flex-basis: 66%;
  }
}

.frow {
  display: flex;
  flex-direction: row;
}

.two-column-list {
  & > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > li {
      flex: 0 0 47%;
    }
  }
}