---
import "./Base.scss";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="#000000" name="theme-color" />
    <title>{title}</title>
    <meta content={description} name="description" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
